.calendarOfTrainTwo {
    position: absolute;
}

.calendarCrossOfTwo-train {
    position: absolute;
    padding: 10px;
    background: #4C70F7;
    border-radius: 3px;
    top: 440px;
    right: 100px;
}

.something {
    display: flex;
    align-items: flex-start;
}


.findMemberssomething {
    position: absolute;
}

.flight {
    cursor: pointer;
}

.requiredradio {
    cursor: pointer;
}