.calendarOfTrainTwo {
    position: absolute;
}

.calendarCrossOfTwo {
    position: absolute;
    padding: 10px;
    background: red;
    top: 425px;
    right: 140px;
}

.something {
    display: flex;
    align-items: flex-start;
}


.findMemberssomething {
    position: absolute;
}

.flight {
    cursor: pointer;
}