.searchBtn {
    cursor: pointer;
}

.calendarOn {
    position: absolute;
}

.calendarCross-Hotel {
    position: absolute;
    top: 440px;
    left: 730px;
    border-radius: 3px;
    padding: 10px;
    background-color: #4B70F7;
    cursor: pointer;
}

.something {
    cursor: pointer;
}

.calendarCrossTwo-hotel {
    position: absolute;
    top: 440px;
    right: 110px;
    border-radius: 3px;
    padding: 10px;
    background-color: #4B70F7;
    cursor: pointer;

}

@media only screen and (max-width: 600px) {
    .calendarCross-Hotel {
        position: absolute;
        top: 608px;
        left: 313px;
        border-radius: 3px;
        padding: 10px;
        background-color: #4B70F7;
        cursor: pointer;
    }

    .calendarOn {
        position: absolute;
        top: 283px;
        right: 20px;
    }

    .calendarCrossTwo-hotel {
        position: absolute;
        top: 609px;
        right: 24px;
        border-radius: 3px;
        padding: 10px;
        background-color: #4B70F7;
        cursor: pointer;
    }
}