.searchParent {
    position: absolute;
    top: 254px;
    left: 470px;
    cursor: pointer;

}

.searchBtn {
    cursor: pointer;
}

.calendarOn {
    position: absolute;
}

.calendarCross-Hotel {
    position: absolute;
    top: 440px;
    left: 730px;
    border-radius: 3px;
    padding: 10px;
    background-color: #4B70F7;
    cursor: pointer;
}

.something {
    cursor: pointer;
}

.calendarCrossTwo-hotel {
    position: absolute;
    top: 440px;
    right: 110px;
    border-radius: 3px;
    padding: 10px;
    background-color: #4B70F7;
    cursor: pointer;

}