.App {
  text-align: center;
}

.footer-wrapper {
  position: sticky;
  bottom: 0;
  height: 10rem;
  width: 100%;
  background: #000;
  margin-top: 2rem;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.gone {
  background-color: saddlebrown;
  width: 100%;
  height: 500px;
  color: white;
}

.myPortalDiv {
  position: relative;
  z-index: 50;
}

.myPortalDivTwo {
  position: relative;
  z-index: 50;
}