.MmtParent {
    border-radius: 8px;
    align-items: center;
    display: flex;
    background-color: #fff;
    width: 960.7px;
    height: 100px;
    padding: 8px 30px;
    border-radius: 8px;
    background-color: #fff;
    z-index: 11;
    position: relative;
    bottom: 25px;
    justify-content: center;
    border: 1px solid gray;
}

.MmtParentForMiddle {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgb(54 51 112) 0%, rgba(6, 20, 36, 1) 35%, rgba(0, 212, 255, 1) 100%);


}

.componentsStyle {
    display: flex;
    gap: 45px;

}

.flightShow {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .mobDontShow {
        display: none;
    }

}

.icon-no-link {
    list-style: none;
}

.single-icon-component {
    display: flex;
    flex-direction: row;
}

.single-single-component {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.single-single-component li {
    position: relative;
    top: 5px;


}

.textdecon {
    text-decoration: none;

}

.textdecon.active {
    color: red;
}


@media only screen and (max-width: 600px) {
    .MmtParentForMiddle {
        width: 100%;
    }

    .MmtParent {
        width: 70%;
    }



    .NoShow {
        display: none;
    }



}