.MmtParent{
    border-radius: 8px;
    align-items: center;
    display: flex;
    background-color: #fff;
    width: 960.7px;
    height: 100px;
    padding: 8px 30px;
    border-radius: 8px;
    background-color: yellow;
    z-index: 11;
    position: relative;
    bottom: 25px;
    justify-content: center;
}

.MmtParentForMiddle{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}

.componentsStyle{
    display: flex;
    gap: 25px;

}

.flightShow{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .mobDontShow{
        display: none;
    }

}