.flight-container {
    display: flex;
    align-items: center;
    position: relative;
    top: -20px;
    margin: auto;
    width: 1024px;
    border-radius: 8px;
    background-color: white;
    z-index: 30;
    padding: 20px;

}

.locationNamePrice {
    display: flex;
    flex-direction: column;
    gap: 33px;
    position: relative;
    top: 70px;
    margin-left: -245px;

}

.bluecolorcontainerChild {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    gap: 10px;
}

.flight-details {
    display: flex;
    align-items: center;
    flex: 2 1;
    height: 200px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 20px;
    background-color: orange;
}

.airways-detail {
    display: none;
    flex-direction: column;
}

.air-logo {
    font-size: 48px;
    padding-left: 4px;
    width: 100px;
    height: 164px;
    margin-right: 10px;
}

.flight-name {
    font-size: 10px;
    padding: 4px;
}

.timings {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1;
}

.departure {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.departureDate {
    font-size: 12px;
}

.time-travel {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1;
}

.totaltime {
    font-size: 12px;
}

.isdirect {
    font-size: 10px;
    margin-left: 4px;
}

.arrival {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1;
}

.arrival-time {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.arrivalDate {
    font-size: 12px;
}

.price-section {
    flex: 1 1;
    display: flex;
    align-items: center;
    height: 243px;
    border: 1px solid #EAEAEA;
    flex-direction: column;
    border-radius: 8px;
    padding: 0px;
    background-color: wheat;
}

.luggage-icon {
    padding: 8px;
    align-self: self-end
}

.luggage-detail {
    align-self: self-end;
    padding: 4px;
    font-size: 10px;
    margin-right: 2px;
}

.price {
    align-self: self-end;
    font-weight: bold;
    margin-right: 8px;
}

.price-details {
    font-weight: lighter;
    align-self: self-end;
    font-size: 8px;
    margin-right: 5px;
}

.see-flight {
    border: 1px solid #73AFF0;
    background-color: #FFFFFF;
    color: #73AFF0;
    width: 300px;
    height: 30px;
    cursor: pointer;
    margin-top: 40px;

    &:hover {
        background-color: #73AFF0;
        color: #1b0303;
        font-weight: bolder;
    }
}

.container-flight-single {
    background-color: #E5EEF4;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.bluecolorcontainer {
    background-color: #0B2542;
    position: absolute;
    width: 100vw;
    height: 340px;
    display: flex;
    gap: 50px;
    justify-content: center;

}


.highestSort {
    color: #62440c;
    background-color: #fff;
    padding: 15px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.marginTopFlight {
    margin-top: 200px;
}

@media only screen and (max-width: 600px) {
    .flight-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        top: -20px;
        margin: auto;
        width: 80%;
        height: auto;
        border-radius: 8px;
        background-color: white;
        z-index: 30;
        padding: 20px;
    }
}