.navParent {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, rgb(55 52 109) 0%, rgba(6, 20, 36, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: space-around;
    color: wheat;
    padding-top: 10px;

}

.navpadding {
    display: flex;
    gap: 360px;
}

.logoleft {
    display: flex;
    height: 40px;
    gap: 80px;

}

.logoleft::after {
    display: flex;
    align-items: center;
    content: "Super Offers";
    color: #fff;

}

.navmiddle {
    display: flex;
    width: 100px;
    height: 40px;
}

.navmiddle::after {
    display: flex;
    color: r;
    align-items: center;
    content: "MyTrips";
}

.navright {
    display: flex;
    height: 40px;
    margin-right: 20px;
    gap: 0.25rem;

}

.buttonSignupParent {
    cursor: pointer;
}

.profileMytrips {
    position: absolute;
    right: 260px;
    top: 60px;
    border: 1px solid black;
    width: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    background-color: #8d68bb;
    border-radius: 10px;
    z-index: 12;
}

.profilepageAA {
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(177 82 82);
    padding: 5px;
}




@media screen and (max-width: 768px) {

    .discount-bag-a {
        display: none;
    }

    .navParent {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;

    }

    .navpadding {
        display: flex;
        gap: 31px;
    }

    .navmiddle::after {
        display: none;
    }

    .logoleft {
        display: flex;
        height: 40px;
        gap: 4px;
    }

    .logoleft::after {
        display: none;
        align-items: center;
        content: "Super Offers";
        color: #fff;

    }

    .navmiddle {
        display: none;
        width: 100px;
        height: 40px;
    }

    .navright {
        display: flex;
        height: 40px;
    }

    .profileMytrips {
        position: absolute;
        right: 47px;
        top: 69px;
        border: 1px solid black;
        width: 83px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid; */
        background-color: #8d68bb;
        border-radius: 10px;
        z-index: 12;
    }


}

#authenticate-au {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    background-color: #7173c8;

    border-radius: 4px;
}

.userName-css {
    list-style: none;
}

#authenticate-auser {
    display: flex;
    align-items: center;
    padding: 0.250rem;
    background-color: blanchedalmond;
    color: black;
    cursor: pointer;
}