.Details{
    height: 319px;
    width: 1200px;
    background-color: #fff;
    color: black;
    position: relative;
    bottom: 60px;
    border-radius: 8px;
}

.DetailsParent{
    display: flex;
    justify-content: center;
    background-color: #071726;
}

