.sectionsingle {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ticketMemberhow {
    display: flex;
    position: absolute;
    padding: 3px;
    border-radius: 5px;
    right: 682px;
    background-color: #d89696;
    width: 133px;
    top: 446px;
    height: auto;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
}



.listNoneinTicket {
    list-style: none;


    background-color: green;
    padding: 3px;
    border-radius: 5px;

}

.handlesee {
    padding: 4px;
    border: 1px solid blue;
    border-radius: 5px;
    cursor: pointer;
}

.seatNumbersA {
    position: absolute;
    top: 453px;
    right: 556px;
}

.sectionsingle .flight-details h3 {
    color: #3498db;
}

.flight-details-single {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ecf0f1;
    padding: 10px 0;
    margin-bottom: 15px;
}

.flight-details-single span {
    color: #7f8c8d;
}

.amenities h2 {
    color: #129e12;
}

.booking-info {
    display: flex;
    justify-content: space-between;
}

.booking-info div {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.booking-info div:hover {
    background-color: #2980b9;
}

.amenities {
    margin-top: 20px;
}

.amenities ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.amenities li {
    margin-bottom: 10px;
}

.res-flight-button-a {
    border: none;
    padding: 10px;
    background-color: #2B83BE;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
        background-color: #57a2d4;
    }
}

@media only screen and (max-width: 600px) {
    .ticketMemberhow {
        display: flex;
        position: absolute;
        padding: 3px;
        border-radius: 5px;
        right: 13px;
        background-color: #d89696;
        width: 172px;
        top: 472px;
        height: auto;
        gap: 5px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .listNoneinTicket {
        list-style: none;
        background-color: green;
        padding: 8px;
        border-radius: 5px;
    }
}