.navbar {
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;
}

.navbar.hidden {
    transform: translateY(-100%);
}

#parentContainerNav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: black;
}



.auth-scroll-nav li {
    list-style: none;
}

.auth-scroll-nav {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 5px;
}

.login-scrollnav {
    padding: 0.75rem;
    background-color: #7173c8;
    border: none;
    border-radius: 4px;
}

.name-scroll-nav {
    padding: 0.75rem;
    background-color: blanchedalmond;
    border: none;
    border-radius: 4px;
}

.profileMytripsB {
    position: absolute;
    right: 249px;
    top: 65px;
    border: 1px solid black;
    width: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8d68bb;
    border-radius: 10px;
    z-index: 12;
}


@media screen and (max-width: 768px) {
    .profileMytripsB {
        position: absolute;
        right: 40px;
        top: 69px;
        border: 1px solid black;
        width: 83px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #8d68bb;
        border-radius: 10px;
        z-index: 12;
    }
}