.parent-justShow {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.child-justShow {
    width: 1100px;
    height: 400px;
    color: black;
    position: absolute;
    top: 65px;
    border: 1px solid #ccc;
    border-radius: 5px;


}

.marginPurpose {
    border-radius: 5px;
}

.checkIn-checkOut {
    background-color: yellow;
    margin-top: 40px;
    display: flex;
    gap: 20px;
    padding: 30px;
    justify-content: space-between;
}

.payment-method {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}


.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.expiry-cvv {
    display: flex;
    gap: 15px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}