.ticket-type {
   display: flex;
   gap: 25px;
   font-weight: 400;
}



.ticket-type span {
   margin-top: 50px;
   font-size: 14px;

}

.Details {
   padding: 20px;
}

.selected-ticket-type {
   display: inline-flex;
   flex-direction: row;
   background-color: rgb(208, 208, 208);
   border-radius: 30px;
}

.righttick {
   align-items: center;
   width: 20px;
}

.flight-search {
   display: flex;
   justify-content: space-around;
   gap: 0px;
   border: 1px solid rgb(202, 202, 202);
   margin-top: 20px;
   padding: 10px;
   border-radius: 10px;
}

.something {
   color: black;
   height: 40px;
   border: none;
   font-weight: bold;
   text-transform: capitalize;

}

.flight h1 {
   margin-top: 14px;
}

.flight h1 ::placeholder {
   color: black;
   font-weight: bolder;
   font-size: x-large;
}

.something {
   font-size: large;
}

.flight {
   border-right: 1px solid black;
}

.searchBtn {
   display: flex;
   width: 216px;
   height: 44px;
   background: linear-gradient(to right, #3fa2ff, #3f00f6);
   color: #fff;
   font-size: 28px;
   text-align: center;
   border-radius: 35px;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 314px;
   left: 376px;
}

.searchParent {
   display: flex;
   justify-content: center;
}

.radioFlight {
   display: flex;
   margin-top: 54px;
}

.ComponentUni {
   background-color: #fff;
   width: 1200px;
   height: 552px;
}

.nav-link {
   text-decoration: none;
}

.footerfix {
   display: none;
   position: absolute;
   top: 1000px;
}

.calendarOnOfFlight {
   position: absolute;
   right: 150px;
}

.calendarCrossOfTwoFlight {
   position: absolute;
   background-color: #3F22F7;
   padding: 10px;
   top: 444px;
   right: 150px;
   cursor: pointer;
   border: 1px solid black;
   border-radius: 10px;
}

@media only screen and (max-width: 600px) {
   .flight-search {
      display: flex;
      flex-direction: row;
      height: auto;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 22px;
      border: 1px solid rgb(202, 202, 202);
      margin-top: 20px;
      padding: 10px;
      border-radius: 10px;
   }

   .calendarCrossOfTwoFlight {
      position: absolute;
      background-color: #3F22F7;
      padding: 10px;
      top: 609px;
      right: 19px;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 10px;
   }



   .ComponentUni {
      background-color: #FFFFFF;
      width: 1200px;
      height: auto;
      padding: 25px 40px 40px;
      margin-top: 25px;
      border-radius: 10px;
      margin-bottom: 20px;
   }

   .searchBtn {
      display: flex;
      width: 216px;
      height: 46px;
      background: linear-gradient(to right, #3fa2ff, #3f00f6);
      color: #fff;
      font-size: 28px;
      text-align: center;
      border-radius: 35px;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 735px;
      left: 95px;
   }

   .calendarOnOfFlight {
      position: absolute;
      right: 22px;
   }







}