.payment-container {
    width: 60vw;
    height: 100vh;
    top: 40px;
    left: 400px;
    align-items: center;
    position: relative;
    bottom: 100px;
}

.isnotRedPayment {
    color: red;
}

@media only screen and (max-width: 600px) {
    .payment-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        top: 0px;
        left: 0px;
        align-items: center;
        position: relative;
        bottom: 100px;
    }
}